*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

header {
    background-color: #007acc;
    padding: 2px;
  }
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.menu-right {
    display: flex;
    align-items: center;
  }

.logo {
    margin: 0 auto;
    display: block;
    max-width: 7%;
    height: 7%;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 70%)); 
    filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 70%));
  }
  
.btns{
    margin-right: 2%;
    margin-left: -6.5%;
    height: 45px;
    width: 100px;
    background-color: #3c408a;
    color: white;
    border: 0px;
    border-radius: 10px
}
.btns:hover{
    background-color: aliceblue;
    color: #007acc;
}
.btnsDiv{
    text-align: end;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.cardsBox{
    padding: 0px;
    margin: 1.5% 2% 0px 2%;
    border-radius: 10px;
    background-color:#e0e0e0;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 70%)); 
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 70%));
}
.cardsBoxborder{
        padding: 0%;
        border-radius: 10px;
        background-color:#007acc;
    }
.cardsBoxInterna{
        padding: 20px;
        border-radius: 10px;
        background-color:#e0e0e0;
    }

#cardsSec {
    margin: 20px 30px 0px 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cardOferta {
    padding: 0.7%;
    border-radius: 10px;
    background-color: #e0e0e0;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 70%));
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 70%));
    width: 30%;
    margin-left: 0.1%;
    margin-bottom: 3%;
  }
  .cardOferdaBorder {
    padding: 1.2%;
    border-radius: 10px;
    background-color: #007acc;
  }
  .cardOferdaInterna {
    padding: 1.2%;
    border-radius: 10px;
    background-color: #e0e0e0;
    
  }
  #cardData {
    text-align: center;
  }
  .nome {
    text-align: center;
  }
  .CardImg {
    width: 70%;
    height: 70%;
    text-align: center;
    border-radius: 50%;
  }
  .avaliacaoS {
    width: 30%;
    height: 30%;
    text-align: center;
  }
  .preco{
    color:green
  }
  #flex-PriceLoc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #flex-PriceLoc ul {
    list-style: none; 
    padding: 0;
    text-align: center; 
    }
  #flex-PriceLoc ul li {
      display: inline-block; 
      text-decoration: none; 
        padding: 15px;
        display: inline-block;
      }
  