* {
  padding: 0;
  margin: 0;
}

.cabecalho {
  background-color: #007acc;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  -webkit-filter: drop-shadow(0px 0px 0.4rem rgba(0 0 0 / 70%));
  filter: drop-shadow(0px 0px 0.4rem rgba(0 0 0 / 70%));
}
.cabecalho-text {
  margin-top: 0.5rem;
  color: #d4d4d4;
}

.conteudo {
  background-color: #d4d4d4;
}
.cabecalho,
.btns-div {
  flex-direction: row-reverse;
}
.cabecalho,
.logo {
  flex-direction: row;
}
.logo-img {
  height: 5rem;
}

.menu-superior {
  display: flex;

  flex-wrap: wrap;
}
.menu-superior {
  flex-direction: row;
  display: inline-block;
  margin-left: 2rem;
}
.menu-superior a {
  text-decoration: none;
  margin-right: 2rem;
  padding: 0.7rem;
  display: inline-block;
  transition: background 1s;
  border-radius: 10px;
}
.menu-text {
  color: #d4d4d4;
}
.selecionada {
  background-color: #d4d4d4;
  color: #007acc;
}
.menu-superior a:hover {
  background-color: #d4d4d4;
  color: #007acc;
}
.btns {
  height: 2.7rem;
  width: 6rem;

  border: 0px;
  border-radius: 10px;
  transition: background 1s;
}
.btns:hover {
  background-color: #d4d4d4;
  color: #007acc;
}
.btns-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.dropdown-menu,
.login-menu {
  top: 2.7rem;
}
.btns-menu {
  background-color: #0061a3;
  color: #d4d4d4;
}
.btns-login {
  color: #ffffff;
  background-color: #007acc;
}
.btns-login:hover {
  background-color: #ffffff;
  color: #007acc;
}
.btns-card:hover{
  color: #ffffff;
  background-color: #0061a3;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #0061a3;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content{
  right: 0rem;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #0061a3;
  border-right:rgba(0 0 0 / 70%);
  padding: 1rem;
}


.dropdown-content label {
  display: inline-block;
}
#passrecovery, #singup{
  transition: color 0.5s;
  
}
#singup:hover{
  background-color: #ffffff;
  color: #007acc;
}
#passrecovery:hover{
  background-color: #ffffff;
  color: #007acc;
}
.conteudo{
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.filtros{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.filtro-header{
  background-color: #007acc;
  padding: 1rem;
  height: 3rem;
  width: 10rem;
  align-items: center;
  text-align: center;
  border-radius: 10px 10px 0px 0px
}
.filtro-header-text{
color: #ffffff;
}
.filtro-content{
  margin-bottom: 3rem;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  border-radius: 0px 0px 10px 10px
}

.auncios{
  margin-left: 8rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 34rem;
}
.card{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 60rem;
  max-height: 10rem;
  
}
.card-anuncio{
  display: flex;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 3rem;
  justify-content: space-between;
}
.card-contato{
  flex-direction: row-reverse;
  border-radius: 0px 10px 10px 0px;
  background-color: #007acc;
  margin: -1rem;
  margin-left: 1rem;
  padding: 1rem;
}
.img-card{
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
}
.dados-card{
  margin-left: 1rem;
}