*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
header {
    background-color: #007acc;
    padding: 2px;
}
.menu-right {
    display: flex;
    align-items: center;
}
.cardsBox {
    padding: 0.5%;
    margin: 1.5% 2% 0px 2%;
    border-radius: 10px;
    background-color: #e0e0e0;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 70%));
    filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 70%));
  }
  .cardsBoxborder {
    padding: 0.2%;
    border-radius: 10px;
    background-color: #007acc;
  }
  .cardsBoxInterna {
    padding: 20px;
    border-radius: 10px;
    background-color: #e0e0e0;
}
img {
    margin: 0 auto;
    display: block;
    max-width: 7%;
    height: 7%;
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 70%)); 
    filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 70%));
}
#botaoDeConfirmacaoDeCadastroDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#botaoDeConfirmacaoDeCadastro{
    height: 45px;
    width: 100px;
    background-color: #3c408a;
    color: white;
    border: 0px;
    border-radius: 10px
}
#botaoDeConfirmacaoDeCadastro:hover{
    background-color: aliceblue;
    color: #007acc;
}